{% extends "base.html" %}
{% block title %}Blog Posts{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Blog Posts</h1>
  <table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>
  </thead>
  <tbody>
  {% for post in blogposts %}
    <tr>
    <td>{{ post.title }}</td>
    <td>{{ post.body }}</td>
    </tr>
  {% endfor %}
</table>
<p class="navbar-btn">
  <a href="/postblog" class="btn btn-default">Write your own!</a>
</p>
{% endblock %}