{% extends "base.html" %}
{% block title %}Blog Post Confirmed{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Your post has been published!</h1>
  <p>
    Title: {{ title }}<br/>
    Body: {{ body }}
  </p>
  <a href="/">View all Posts</a>
{% endblock %}